[Unit]
Description=GigaCenter daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/gigacenter --daemon run --enable-logs
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target

